<% include partiels/header.ejs%>

    <form method="get" action="/newMovie">
    <button type="submit" class="nutton">new movie</button>
	</form>
	 <form method="get" action="/stages">
    <button type="submit" class="nutton">new stage</button>
	</form>
	<form method="get" action="/stageMovies">
    <button type="submit" class="nutton">new stage movie</button>
	</form>

<% include partiels/footer.ejs%>
