<% include partiels/header.ejs%>




<form class="frm" method="post" action="/stages" >
<br>
<label class="lbl title">Add new stage</label>
<br>

<label class="form lbl">Name</label>
<br>			   
				   
<input class="form txt" type="text" placeholder="stage name" name="stage">
<br>			   
				   
<label class="form lbl">seats</label>
<br>			   
				   
<input class="form txt" type="text" placeholder="number of seats" name="seats">
<br>			   
				   
<label class="form lbl">more </label>
<br>			   
				   
<input class="form txt" type="text" placeholder="more" name="more">

<button type="submit" class="button">save</button>
</form>