<% include partiels/header.ejs


<div class="row">
         <div class="card first">
            <div class="card-head">

            </div>

            <img class="card-title" src="<%= vidsData[0].videos.medium.url"> %></h5>
			</br>

            
        </div>
		
</div>

</body>
<html>